<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinator</title>
    <%- include('.././partials/styleSheets') %>
</head>

<body>

    <%- include('navbar') %>
        <div class="main-wrapper">
            <h1 class="head-title"><%= details.title  %></h1> 
           
<div class="details-wrapper">
    <div class="des-img flex">
        <img src="<%= details.image %>" alt="<%= details.title  %>"> 
    </div>
    <div class="content">
        <h2><%= details.title  %></h2>
        <hr>
        <h3 class="text">Price : &#x20B9;<%= details.price.toLocaleString("en-IN")  %></h3>
        
        <div class="description-box">
            <h2>About</h2>
            <%= details.description  %>
        </div>
        <hr>
        <div class="place-address">
            <p class="text"><span style="color: teal;"><i class="fa-solid fa-location-crosshairs"></i></span> Location : <%= details.location  %></p>
            <p class="text"> <span style="color: teal;"><i class="fa-solid fa-earth-americas"></i></span>  Country  : <%= details.country  %></p>
        </div>
        <hr>
        <div  class="action-btn">
            <a href="/<%= details.id %>/edit"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="deletePlace-btn" ><i class="fa-solid fa-trash"></i></a>
        </div>

</div>

    <form action="/<%=details.id %>/delete?_method=DELETE" method="post" style="display:none" id="delform"> </form>
</div>
<%- include('footer') %>
</div>
        <%- include('.././partials/scripts') %>
</body>

</html>

