<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinator</title>
</head>
<body>
    <h1><%= details.title  %></h1>

    <li><%= details.description  %></li>
    <li>&#x20B9;<%= details.price.toLocaleString("en-IN")  %></li>
    <li><%= details.location  %></li>
    <li><%= details.country  %></li>


</body>
</html>