<div class="place-post-wrapper">
    <form action="/<%=values.id %>/edit?_method=PUT" method="post">
        <input type="url" name="image" id="" value=<%=values.image%>>
        <input type="text" name="title" id="" placeholder="title" value="<%=values.title%>">
        <input type="text" name="description" id="" placeholder="describe" value="<%=values.description%>">
        price
        <input type="number" name="price" id="" value="<%=values.price%>">
        <input type="text" name="location" id="" placeholder="location" value="<%=values.location%>">
        <input type="text" name="country" id="" placeholder="country" value= "<%=values.country%>">

<button type="submit">Save</button>  
  </form>
</div>