
<% result.forEach((res)=>{%>
    <div class="card__item_wrapper">

        <div class="card">
            <img class="card__img" src=<%=res.image %> alt=<%= res.title %>>

                <div class="card__content">

                    <div class="card__header">
                        <a href="/show/<%= res.id %>" class="title"><h3><%= res.title %></h3></a>
                    </div>
                    <p class="price">&#x20B9; <%= res.price.toLocaleString("en-IN")  %></p>
                    <p class="card__text">
                        <%= res.description.slice(0,35) %>.....
                    </p>
                    

                    <a href="/show/<%= res.id %>" class="btn">Read More</a>
                    
              
                </div>
        </div>
    </div>
<% }) %>


