<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinator</title>
    <%- include('./partials/styleSheets') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="main-wrapper">
            <section class="hero flex">
                <div class="hero-inner">
                    <h1>Explore The <span style="color: #74c79d;">World</span></h1>
                    <p>Destinator Offers a Collection of Best Travelling Places in the World</p>
                    <a href="#places" class=" hero-btn btn">Explore...</a>
                </div>
            </section>

            <main class="card-wrapper flex" id="places">
                
<% if(result){%>
    <% result.forEach((res)=>{%>
   <div class="card__item_wrapper">

       <div class="card">
           <!-- regular -->
           <!-- <i class="fa-solid fa-heart"></i>  -->
           <img class="card__img" src=<%=res.image %> alt=<%= res.title %>>

               <div class="card__content">

                   <div class="card__header">
                       <a href="/show/<%= res.id %>" class="title"><h3><%= res.title %></h3></a>
                   </div>
                   <p class="price">&#x20B9; <%= res.price.toLocaleString("en-IN")  %></p>
                   <p class="card__text">
                       <%= res.description.slice(0,35) %>.....
                   </p>
                   

                   <a href="/show/<%= res.id %>" class="btn">Read More</a>
                   
             
               </div>
       </div>
   </div>
<% })%>
<%} %>

            </main>

            <%- include('./components/footer') %>
        </div>
            <%- include('./partials/scripts') %>
</body>

</html>